<section>
    <div class="card" ng-repeat="movie in reviews">
      <div class="card-block">
        <div class="row">
          <div class="col-md-2">
            <img class="movie-thumbnail" ng-src="{{movie.image}}" alt="Card image cap">
          </div>
          <div class="leftest-text">
            <div class="col-md-4">
              <h4 class="card-title">
                  {{movie.m_title}}
                </h4>
                <p class="card-text">{{movie.m_outline}}</p>

              <div class="tag">
                <ul>
                  <li ng-repeat = "genre in movie.m_genres"><a>{{genre}}</a></li>
                  <li><a>By {{movie.m_director}}</a></li>
                </ul>
              </div>
            </div>
          </div>


        <div class="rightest-text">
          <div class="col-md-3">
            <h4 class="card-title">
                Will be on...
            </h4>
            <div class ="clock-text">
              <p class="card-text">{{calDate(movie.m_date)}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
