/* Source from : http://www.nxworld.net/tips/css-tag-cloud.html */

.tag ul {
	margin-top: 15px;
	padding: 0;
	list-style: none;
}
.tag ul li {
	display: inline-block;
	margin: 0 .3em .3em 0;
	padding: 0;
}
.tag ul li a {
	display: inline-block;
	max-width: 200px;
	height: 28px;
	line-height: 28px;
	padding: 0 1em;
	background-color: #fff;
	border: 1px solid #aaa;
	border-radius: 3px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	color: #333;
	font-size: 13px;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
}
.tag ul li a:hover {
	background-color: #cab08f;
	border: 1px solid #cab08f;
	color: #fff;
}

/* toogle button */
.toggle-button {
	background-color: white;
	margin: 5px 10px;
	border-radius: 20px;
	border: 2px solid #D0D0D0;
	height: 36px;
	cursor: pointer;
	width: 100px; position:
	relative; display:
	inline-block;
	user-select:
	none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.toggle-button-on {
	background-color: #5bc0de;
	margin: 5px 10px;
	border-radius: 20px;
	border: 2px solid #D0D0D0;
	height: 36px;
	cursor: pointer;
	width: 100px; position:
	relative; display:
	inline-block;
	user-select:
	none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
